# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
check
check2
Verify_Fonts
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vscode/*


combined-backgrounds
dataset-march-10-contextual-form
old-label-format-1--gt-files
out-sample-Naskh-Regular-100
out-sample-Naskh-Regular-100--format-2
dataset-march-10-contextual-form.tar
rec_gt_test_combined.txt
rec_gt_train_combined.txt
error.jpg
extra_chars_v2.txt
extra_chars.txt
label-with-parent-name.txt
out-Amiri-Regular-50-all-news-corpus-chunk-02/

## optional 
trdg/out
trdg/dicts

60000_png_files_font_nice_labels.txt
background-old-bookpage/
margin-test/
no-arabic-resahping/
tmp.py
trdg/fonts/ar/Lateef-Regular-google-font.ttf

out-Naskh-Regular-all-news-corpus-chunk-04/
out-Naskh-Regular-all-news-corpus-chunk-05/
out-Naskh-Regular-all-news-corpus-chunk-06/
out-Naskh-Regular-all-news-corpus-chunk-07/
out-Naskh-Regular-all-news-corpus-chunk-08/
out-Naskh-Regular-all-news-corpus-chunk-09/
out-Naskh-Regular-all-news-corpus-chunk-10/
out-NotoSansArabic-Regular-all-news-corpus-chunk-11/
out-NotoSansArabic-Regular-all-news-corpus-chunk-12/
out-samples-bboxes--other-experiment.tar
out-samples-bboxes--other-experiment/
out-samples/

##
.idea
check
out/